
/**���˵�*/
.left-menu-sider {
  width: 224px;
  float: left;
}
.right-content-body {
  border-left: 1px solid #e9e9e9;
  padding: 0 24px;
  overflow: auto;
  position: relative;
  left: -1px;
}

.console-title{
  padding-bottom: 10px;
  height: 40px;
  line-height: 10px;
  margin-bottom: 20px;
}

.console-title-border {
  border-bottom: 1px solid #ddd;
}

.console-title h5 {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 8px;
  text-indent: 8px;
  font-size: 14px;
  border-left: 2px solid #88B7E0;
}


.btn-group button {
  margin-right: 8px;
}



.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.contentUploadForm {

  .ant-upload-list {
    width: 500px;
  }
  .upload-list-inline .ant-upload-list-item {
    display: inline-block;
    width: 200px;
    margin-right: 8px;
  }
}